# Top-most EditorConfig file
root = true

[*.{cs,vb,xml,config,json,md,txt,csproj,props,targets,html,css,js,ts}]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
# Best practices for Git
trim_trailing_whitespace = true
insert_final_newline = true

[*.sln]
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true

